html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Roboto";
  margin: 0;
  background-color: #f9f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.site__header {
  background-color: #ffffff;
}

.header__content {
  position: relative;
}

.tel-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 11px;
  padding-bottom: 9px;
}

.tel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 22px;
  background-image: url(../../img/header__phone-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.header__tel-box {
  height: 40px;
  background-color: #f9f8f8;
}

.calendar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 21px;
  background-image: url(../../img/header__schedule-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.tel-box__item:nth-child(1) {
  margin-right: 106px;
  padding-left: 23px;
  background-image: url(../../img/header__house-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 1px;
}

.tel-box__item:nth-child(2) {
  margin-right: 98px;
}

.tel__list-item:not(:last-child) {
  padding-right: 22px;
  background-image: url(../../img/headerr__Ellipse.svg);
  background-repeat: no-repeat;
  background-position: 125px 7px;
}

.calendar__item:nth-child(1) {
  margin-right: 17px;
}

.tel-box__item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tel__item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.calendar__item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tel-box__item-link:hover {
  color: #ffbd54;
}

.tel__item-link:hover {
  color: #ffbd54;
}

.calendar__item-link:hover {
  color: #ffbd54;
}

.tel-box__item-link:active {
  color: #333333;
  opacity: 0.6;
}

.tel__item-link:active {
  color: #333333;
  opacity: 0.6;
}

.calendar__item-link:hover {
  color: #333333;
  opacity: 0.6;
}

.header__logo {
  position: absolute;
  left: 14px;
  top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav {
  height: 62px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-top: 12px;
  padding-bottom: 17px;
}

.nav__item:nth-child(7) {
  margin-left: 163px;
}

.nav__item:nth-child(1) {
  padding-left: 26px;
  background-image: url(../../img/header__fish.svg);
  background-repeat: no-repeat;
  background-position: 0 4px;
}

.nav__item:nth-child(7) {
  padding: 3px 0;
  padding-left: 28px;
  background-image: url(../../img/header__pet-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.nav__item:not(:last-child) {
  margin-right: 55px;
}

.nav__item-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__item:not(:last-child) {
  padding-top: 5px;
}

.nav__item-link:hover {
  border-bottom: 4px solid #f4ffad;
}

.nav__item-link:active {
  opacity: 0.6;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.site__hero {
  padding-top: 146px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-image: url(../../img/hero__bg.png);
  background-repeat: no-repeat;
  background-position: 0 -92px;
  margin-bottom: 191px;
}

.hero__content {
  width: 608px;
  margin-left: auto;
  background-image: url(../../img/hero__bg2.png);
  background-repeat: no-repeat;
  background-position: 369px 234px;
}

.hero__content .hero__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 20px;
}

.hero__text-box {
  padding-bottom: 290px;
}

.color__blue {
  color: #78c0de;
}

.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-bottom: 38px;
}

.hero__link {
  padding: 15px 48px 16px 47px;
  background-color: #333333;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero__link:hover {
  background: #ffbd54;
  border-radius: 3px;
  color: #333333;
}

.hero__link:active {
  opacity: 0.6;
}

.hero__destcription {
  margin-top: 21px;
  text-align: center;
  background-image: url(../../img/hero__description-bg.svg);
  background-repeat: no-repeat;
  background-position: 174px 0;
}

.hero__box {
  background-image: url(../../img/hero__description-bg2.svg);
  background-repeat: no-repeat;
  background-position: 1174px 124px;
}

.hero__destcription-box {
  width: 752px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}

.hero__destcription-text {
  padding-top: 43px;
  padding-bottom: 43px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.hero__line {
  width: 140px;
  height: 1px;
  background-color: #949494;
  display: block;
  margin: 0 auto;
}

.hero__info {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: #333333;
}

.services-inspection__box {
  max-width: 1223px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.services__content {
  text-align: center;
}

.services__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__item:not(:last-child) {
  margin-right: 13px;
}

.services__item {
  width: 193px;
  height: 215px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  margin-top: 18px;
  padding: 30px 68px 42px 71px;
  margin-bottom: 14px;
}

.services__item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.services__item:active {
  opacity: 0.6;
}

.services__item-title {
  color: #333333;
  width: 126px;
  height: 44px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-left: -40px;
  margin-top: 21px;
}

.inspection {
  margin-bottom: 235px;
}

.container {
  position: relative;
}

.arrow-link {
  position: absolute;
  left: -60px;
  top: 158px;
  padding: 12px 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-link1 {
  position: absolute;
  right: -60px;
  top: 158px;
  padding: 12px 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrow-link1:hover {
  background: #ffffff;
}

.arrow-link:hover {
  background: #ffffff;
}

.arrow-link1:active {
  opacity: 0.7;
}

.arrow-link:active {
  opacity: 0.7;
}

.inspection__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 41px 105px 41px 35px;
  background-color: #fff;
  border-radius: 0px 5px 5px 5px;
}

.inspection__wrapper {
  margin-left: 67px;
  width: 492px;
  margin-top: 33px;
}

.inspection__title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  margin-bottom: 18px;
  color: #333333;
}

.inspection__text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  color: #949494;
  margin-bottom: 9px;
}

.inspection__text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  color: #949494;
  margin-bottom: 34px;
}

.inspection__price-link {
  padding: 14px 37px 15px 57px;
  background: #ffbd54;
  border-radius: 3px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
  margin-right: 21px;
}

.inspection__price {
  display: inline-block;
  position: absolute;
  left: 31px;
}

.inspection__enroll-link {
  padding: 13px 30px 15px 50px;
  background: #333333;
  border-radius: 3px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inspection__enroll-link:hover {
  background: #ffbd54;
  border-radius: 3px;
  color: #333333;
}

.inspection__enroll-link:active {
  opacity: 0.6;
}

.inspection__enroll {
  display: inline-block;
  position: absolute;
  left: 22px;
}

.inspection__price-link:hover {
  background: #333333;
  border-radius: 3px;
  color: #ffbd54;
}

.inspection__price-link:active {
  opacity: 0.6;
}

.site__log-in {
  background-image: url(../../img/log-in__bg.png);
}

.log-in__content {
  padding: 90px 0 90px 215px;
  margin-bottom: 216px;
}

.log-in__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  /* or 42% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-bottom: 32px;
  height: 48px;
}

.log-in__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  padding: 18px 147px 12px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #949494;
}

.log-in__lable {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #949494;
}

.log-in__button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 15px 53px 14px 51px;
  border: none;
  background: #333333;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 21px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.log-in__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login__box {
  position: relative;
}

.log-in__lable {
  position: absolute;
  top: 15px;
  left: 21px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.log-in__content {
  position: relative;
}

.log-in__img {
  position: absolute;
  top: -107px;
  right: 0;
}

.articles__item {
  width: 305px;
}

.articles__item-link {
  width: 250px;
}

.articles__item-link2 {
  width: 250px;
}

.articles__item {
  position: relative;
  background: #ffffff;
  border: 1px solid #e4e4e2;
  border-radius: 5px;
  padding: 201px 22px 36px;
  height: 435px;
}

.articles__item-img {
  position: absolute;
  top: 0;
  left: 0;
}

.articles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles__item2 {
  background-color: #fff;
  width: 605px;
  padding: 41px 34px 37px 335px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  height: 435px;
}

.articles__item-img2 {
  position: absolute;
  left: 450px;
  top: 0;
}

.articles__item-date {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  color: #949494;
  margin-bottom: 2px;
  text-align: right;
  height: 18px;
}

.articles__item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  /* or 114% */
  color: #000000;
  margin-bottom: 13px;
}

.articles__item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  color: #949494;
  margin-bottom: 34px;
}

.articles__item-text {
  margin-bottom: 28px;
}

.tags-box {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hashtegs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hashtegs-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #3d9cea;
}

.articles__item-text2 {
  margin-bottom: 14px;
}/*# sourceMappingURL=main.css.map */